<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nighit Routine Support</title>
  <link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>
  <header>
      <div class="header-logo">
        <%= link_to("Nighit Routine Support","/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("Nighit Routine Supportとは","/about") %>
        </li>
        <li>
          <%= link_to("置手紙一覧","/posts/index") %>
        </li>
        <li>
          <%= link_to("新規投稿","/posts/new") %>
        </li>
      </ul>
  </header>
  <div class="main top-main">
  <div class="inner">
     <div class="top-message">
       <h2>もうみんなお風呂入ったのかな？ 誰か猫にごはんあげた？
       <br>家族の夜のタスクを共有して最適化しよう！
      </h2>
    </div>
  </div>
</div>
</body>
</html>
